<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean
            id="musicBean" class="Test.Music.RockMusic">
    </bean>

    <bean
        id = "musicPlayer" class="Test.Music.MusicPlayer">
        <constructor-arg
                ref="musicBean">
        </constructor-arg>
    </bean>



</beans>