<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean
            id="musicBean" class="Test.Music.PopMusic">
            <property name="title" value="rehana"/>
    </bean>

    <bean
        id = "musicPlayer" class="Test.Music.MusicPlayer">
        <property name="music" ref="musicBean"/>
<!--        <property name="title" value="some name"/>-->
        
        <property name="songs">
            <util:list id="songList" value-type="java.lang.String">
                <value >first song</value>
                <value >second song</value>
                <value >fired song</value>
            </util:list>
        </property>
        


    </bean>

<!--    <util:list id="songs" value-type="java.lang.String">-->
<!--        <value>first</value>-->
<!--        <value>second</value>-->
<!--    </util:list>-->


</beans>


















